/* Style untuk halaman profil */

body {
  font-family: Arial, sans-serif;
  background-image: url('https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fimg.freepik.com%2Ffree-vector%2Fdetailed-hand-painted-pink-watercolour-background_1048-17039.jpg%3Fw%3D2000&sp=1735365255T95ed314cbeb654473fcbd70aebbf48426d3d688e815607a97469894942534efa'); /* nama file gambar background yang sesuai */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: blue; /* Warna teks */
}

h1, h2 {
  color: blue; /* Warna judul */
}

img {
  width: 200px; /* Ukuran gambar profil */
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%; /* Mengubah gambar profil menjadi lingkaran */
}

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: blue; /* Warna tautan */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Efek garis bawah saat tautan dihover */
}
