/* Style untuk halaman profil */

body {
  font-family: Arial, sans-serif;
  background-image: url('https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.gHzapiAAJ5IZS4BP4r1QFgHaHa%26pid%3DApi&sp=1735364252Ta635cf49e15b7f31e478216973c6dfd2974661e7a294d9c30b20c29050877c90'); /* nama file gambar background yang sesuai */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: blue; /* Warna teks */
}

h1, h2 {
  color: blue; /* Warna judul */
}

img {
  width: 200px; /* Ukuran gambar profil */
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%; /* Mengubah gambar profil menjadi lingkaran */
}

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: blue; /* Warna tautan */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Efek garis bawah saat tautan dihover */
}
